@model SocialImageSharing.Web.ViewModels.Comments.CommentViewModel

<div class="row">
	<div class="col-md-2" id="comment-like-panel-@Model.Id">
		@Html.Action("LikeComment", "Comments", new { id = Model.Id })
	</div>
	<div class="col-md-10">
		<small class="">by @Html.DisplayFor(m => m.CreatorName)</small>
		<p class="text-primary">@Html.DisplayFor(m => m.Content)</p>
		<small class="text-muted">at @Html.DisplayFor(m => m.CreatedOn)</small>
	</div>
</div>
